<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/layout" xmlns:th="http://www.thymeleaf.org" >
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
</head>
<script>
    $(document).ready(function() {
        $('select').select2();
    });
</script>
<body>
<div class="container">
    <div class="row">
       <!-- <form method="post" class="col-sm" style="border: 1px solid black" th:action="@{/accNo}">
            <div class="form-group">
                <label for="acc">Numéros d'accident</label>
                <input type="text" class="form-control" id="acc" placeholder="201900015653">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <form method="post" class="col-sm" style="border: 1px solid black" th:action="@{/accDate}">
            <div class="form-group">
                <label for="date">Date de l'accident</label>
                <input type="date" class="form-control" id="date">
            </div>
            <select multiple class=form-control  id="test">
                <option value=un>Un</option>
                <option value=deux>Deux</option>
                <option value=trois>Trois</option>
            </select>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form> -->
        <form   method="post" th:action="@{/accDate}" th:object="${accident}">
            <select  class=form-control th:field="*{luminosity}" multiple>
                <option th:each="l : ${lum}" th:value="${l.getKey()}" th:text="${l.getValue()}"></option>
            </select>
            <select class=form-control th:field="*{atm}">
                <option th:each="l : ${atm}" th:value="${l.getKey()}" th:text="${l.getValue()}"></option>
            </select>
            <select class=form-control th:field="*{intersection}">
                <option th:each="l : ${inter}" th:value="${l.getKey()}" th:text="${l.getValue()}"></option>
            </select>
            <select class=form-control th:field="*{agglo}">
                <option th:each="l : ${agg}" th:value="${l.getKey()}" th:text="${l.getValue()}"></option>
            </select>
            <select class=form-control th:field="*{nbCol}">
                <option th:each="l : ${col}" th:value="${l.getKey()}" th:text="${l.getValue()}"></option>
            </select>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>


    </div>
</div>


</body>
</html>